h1{
    color:black;
}


body {
    background-color:rgb(165, 210, 179);

}

h1{
   text-align : center;
}

h2{
    text-align:center;
}
    

 
h1{
    font-size:3.5rem;
}

h3{
    font-size:2.5rem;
}

h3{
    color:rgb(1, 1, 52)
}

ul{
    font-size:1.5rem;
}

.parent-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;

}
body{
    text-align:center;
    font-family:sans-sarif;
    background:#f4f7f4;
}

.plant-card{
    background:white;
    width:300px;
    text-align:left;
    padding:15px;
    border: 1px solid #ddd;
    border-shadow: rgba(0,0,0,0.1);
}

.plant.card img{
    width:100%;
    height:250;
    object-fit:cover;
    border-radius:4px;
}

