h1{
    color:black;
}


body {
    background-color:rgb(165, 210, 179);

}

h1{
   text-align : center;
}

h2{
    text-align:center;
}
    

 
h1{
    font-size:3.5rem;
}

h3{
    font-size:2.5rem;
}

h3{
    color:rgb(1, 1, 52)
}

ul{
    font-size:1.5rem;
}


